<form action="/artist-search" method="GET">
    <div id="homeDiv" class="container-fluid">
        <div class="search-bar">
            <input type="text" name="artistName" placeholder="Artist Name">
            <button type="submit">Search for an Artist</button>
        </div>
    </div>
</form>